<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <!--使FileUpload控件文件上传跳到5MB以内-->
    <httpRuntime  requestValidationMode="2.0" executionTimeout="90" maxRequestLength="5120"  appRequestQueueLimit="100"/>
    <compilation debug="true"/>
  </system.web>
</configuration>